<!-- navigation -->
<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
            {{ partial "logo.html" }}
          </a>

          <div class="nav-controller d-flex align-items-center">
            {{ if .IsTranslated }}
              <div class="d-block d-lg-none text-center">
                <select
                  class="mx-3 border-0 font-weight-bold"
                  id="select-language"
                  onchange="location = this.value;">
                  {{ $siteLanguages := site.Languages }}
                  {{ $pageLang := .Page.Lang }}
                  {{ range .Page.AllTranslations }}
                    {{ $translation := . }}
                    {{ range $siteLanguages }}
                      {{ if eq $translation.Lang .Lang }}
                        {{ $selected := false }}
                        {{ if eq $pageLang .Lang }}
                          <option
                            id="{{ $translation.Language }}"
                            value="{{ $translation.RelPermalink }}"
                            selected>
                            {{ .LanguageName }}
                          </option>
                        {{ else }}
                          <option
                            id="{{ $translation.Language }}"
                            value="{{ $translation.RelPermalink }}">
                            {{ .LanguageName }}
                          </option>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </select>
              </div>
            {{ end }}
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navHeader"
              aria-controls="navHeader"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="hide"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="4" y1="6" x2="20" y2="6"></line>
                <line x1="4" y1="12" x2="20" y2="12"></line>
                <line x1="4" y1="18" x2="20" y2="18"></line>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="show"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="navHeader">
            <ul class="navbar-nav mx-auto">
              {{ $currentPage := . }}
              {{ range site.Menus.main }}
                {{ $menuURL := .URL | absLangURL }}
                {{ $pageURL:= $currentPage.Permalink | absLangURL }}
                {{ $active := eq $menuURL $pageURL }}
                {{ if .HasChildren }}
                  <li
                    class="nav-item dropdown 
                  {{ range .Children }}
                      {{ $childURL := .URL | absLangURL }}
                      {{ $active := eq $childURL $pageURL }}
                      {{ if $active }}active{{ end }}
                    {{ end }}
                    ">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                      {{ .Name }}
                    </a>
                    <ul class="dropdown-menu" style="height:auto">
                      {{ range .Children }}
                        {{ $childURL := .URL | absLangURL }}
                        {{ $active := eq $childURL $pageURL }}
                        <li>
                          <a
                            class="dropdown-item {{ if $active }}
                              active
                            {{ end }}"
                            {{ if findRE `^http` .URL }}
                              target="_blank" rel="noopener"
                            {{ end }}
                            href="{{ if findRE `^#` .URL }}
                              {{ if not $.IsHome }}
                                {{ site.BaseURL | relLangURL }}
                              {{ end }}{{ .URL }}
                            {{ else }}
                              {{ .URL | relLangURL }}
                            {{ end }}"
                            >{{ .Name }}</a
                          >
                        </li>
                      {{ end }}
                    </ul>
                  </li>
                {{ else }}
                  <li class="nav-item {{ if $active }}active{{ end }}">
                    <a
                      class="nav-link"
                      {{ if findRE `^http` .URL }}
                        target="_blank" rel="noopener"
                      {{ end }}
                      href="{{ if findRE `^#` .URL }}
                        {{ if not $.IsHome }}
                          {{ site.BaseURL | relLangURL }}
                        {{ end }}{{ .URL }}
                      {{ else }}
                        {{ .URL | relLangURL }}
                      {{ end }}"
                      >{{ .Name }}</a
                    >
                  </li>
                {{ end }}
              {{ end }}
            </ul>

            <div class="navbar-right">
              <!-- Language List -->
              {{ if .IsTranslated }}
                <div class="d-none d-lg-inline text-center">
                  <select
                    class="mx-3 border-0 font-weight-bold"
                    id="select-language-"
                    onchange="location = this.value;">
                    {{ $siteLanguages := site.Languages }}
                    {{ $pageLang := .Page.Lang }}
                    {{ range .Page.AllTranslations }}
                      {{ $translation := . }}
                      {{ range $siteLanguages }}
                        {{ if eq $translation.Lang .Lang }}
                          {{ $selected := false }}
                          {{ if eq $pageLang .Lang }}
                            <option
                              id="{{ $translation.Language }}"
                              value="{{ $translation.RelPermalink }}"
                              selected>
                              {{ .LanguageName }}
                            </option>
                          {{ else }}
                            <option
                              id="{{ $translation.Language }}"
                              value="{{ $translation.RelPermalink }}">
                              {{ .LanguageName }}
                            </option>
                          {{ end }}
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  </select>
                </div>
              {{ end }}

              {{ if site.Params.navigation_button.enable  }}
              <div class="navbar-right">
                <a
                  href="{{ site.Params.navigation_button.link | relURL }}"
                  class="btn btn-primary">
                  {{ site.Params.navigation_button.label }}
                </a>
              </div>
            {{ end }}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- /navigation -->
