body {
  color: lighten($black, 53.33);
  background-color: $white;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.7;
}

::selection {
  color: $white;
  background-color: darken($color-primary, 5);
  text-shadow: none;
}

:focus {
  outline: 0;
}

.preloader {
  img {
    animation: la-spin 0.5s infinite linear;
  }
}

.preloader-hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

/*------------------------------------------------------------------
 # default styles
-------------------------------------------------------------------*/
@media (min-width: 992px) {
  .container {
    max-width: 1060px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
  }
}

.container-xxl {
  max-width: 1440px;
  width: 100%;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  margin-right: auto;
  margin-left: auto;

  @include desktop-xl {
    max-width: 1260px;
  }
}

.section {
  padding: 6.25rem 0;

  &-sm {
    padding: 4.3rem 0;
  }
}

.section-title {
  margin-bottom: 3.12rem;

  .title {
    text-transform: capitalize;
    margin-bottom: 2.5rem;
    position: relative;
    line-height: 1.3;

    &::after {
      position: absolute;
      content: "";
      height: 5px;
      width: 4.3rem;
      border-radius: 1.8rem;
      left: 0;
      bottom: -1.25rem;
      background-color: $color-primary;
    }

    &.underline-none {
      margin-bottom: 1.25rem;

      &::after {
        display: none;
      }
    }

    @include tablet {
      font-size: 2rem;
    }
  }

  &.text-center .title::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

// swiper
.swiper-wrapper {
  cursor: grab;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.swiper-pagination-bullet {
  height: 0.9rem;
  width: 0.9rem;
}

.swiper-pagination-bullet-active {
  background: $color-primary !important;
}

// aos background animation
.has-bg-anim {
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -2;
    background-color: rgba($color-primary, 0.1);
    transform: scale(0);
    border-radius: 1.8rem;
    transition: 1.5s cubic-bezier(0.105, 0.84, 0.44, 1);
  }

  &.aos-animate::before {
    transform: scale(1);
    background-color: rgba($color-primary, 0.05);
  }
}

// social-links
.social-links {
  a {
    font-size: 1.125rem;
    color: rgba($black, 0.8);
    border: 1px solid #eee;
    display: inline-block;
    height: 2.8rem;
    width: 2.8rem;
    text-align: center;
    line-height: 2.8rem;
    border-radius: 2.1rem;

    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}

// has-circle
.has-circle {
  position: relative;

  span {
    position: absolute;
    background-color: rgba($color-primary, 0.15);
    border-radius: 50%;

    &.fill {
      background-color: $color-primary;
      opacity: 0.9;
    }

    &.ratio-20 {
      height: 1.25rem;
      width: 1.25rem;
    }

    &.ratio-32 {
      height: 2rem;
      width: 2rem;
    }

    &.ratio-37 {
      height: 2.31rem;
      width: 2.31rem;
    }

    &.ratio-47 {
      height: 2.9rem;
      width: 2.9rem;
    }

    &.ratio-62 {
      height: 3.8rem;
      width: 3.8rem;
    }

    &.ratio-65 {
      height: 4.06rem;
      width: 4.06rem;
    }

    &.ratio-73 {
      height: 4.5rem;
      width: 4.5rem;
    }

    &.ratio-85 {
      height: 5.3rem;
      width: 5.3rem;
    }
  }
}

// link-primary
.link-primary {
  color: $color-primary !important;

  &:hover {
    color: darken($color-primary, 5) !important;
    text-decoration: underline;
  }
}

.badge {
  color: $white !important;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.45em 0.8em;
  border-radius: 0.25rem;
  position: relative;
  top: 0.625rem;

  &.badge-changed {
    background-color: #3a9cff;
  }

  &.badge-added {
    background-color: #00ce92;
  }

  &.badge-removed {
    background-color: #973cff;
  }

  &.badge-security {
    background-color: #9c275f;
  }

  &.badge-depreciate {
    background-color: #ff3158;
  }
}

.rounded-3 {
  border-radius: 1.125rem !important;
}

// content
.lead {
  font-size: 1.5rem;
  font-weight: inherit;
}

.content {
  font-size: 0.9rem;

  a {
    color: #888;
    text-decoration: underline;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 1.56rem;
  }

  .btn {
    text-decoration: none;
  }

  iframe {
    border-radius: 0.5rem;
  }

  blockquote p {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 0.625rem;
    margin-bottom: 2.1rem;

    &.img-center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.img-left {
      display: block;
      margin-left: 0;
      margin-right: auto;
    }

    &.img-right {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }

    &.img-float-left {
      float: left;
      margin-right: 1.5rem;
    }

    &.img-float-right {
      float: right;
      margin-left: 1.5rem;
    }
  }

  figure {
    display: inline-block;
    margin-bottom: 1.5rem;

    img {
      margin-bottom: 0.7rem;
    }

    &.img-center {
      display: block;
      text-align: center;
    }

    &.img-left {
      display: block;
      text-align: left;
    }

    &.img-right {
      display: block;
      text-align: right;
    }

    &.img-float-left {
      float: left;
      margin-right: 1.5rem;
    }

    &.img-float-right {
      float: right;
      margin-left: 1.5rem;
    }
  }

  figure {
    margin-bottom: 1.8rem;

    img {
      margin-bottom: 0;
    }

    figcaption {
      text-align: center;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.9rem;
    font-weight: 600;
  }

  ol,
  ul {
    margin-bottom: 1.56rem;
    padding-left: 5px;

    li {
      margin-bottom: 0.625rem;
    }
  }

  ul {
    list-style: none;

    li {
      position: relative;
      padding-left: 1.25rem;

      &::before {
        position: absolute;
        content: "";
        height: 7px;
        width: 7px;
        background-color: rgba($color-primary, 0.8);
        top: 0.625rem;
        left: 0;
        border-radius: 50%;
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
  }

  table td,
  table th {
    padding: 0.75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $light;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background: lighten($color: $light, $amount: 5);
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  .notices p {
    padding: 0.7rem;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 6px;
    color: $white;
    font-family: $font-icon;
    font-weight: 900;
    content: "\f05a";
    left: 0.7rem;
    border: 0 !important;
  }

  .notices.note p {
    border-top: 1.9rem solid #6ab0de;
    background: #e3f4ff;
  }

  .notices.note p::after {
    content: "Note";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.tip p {
    border-top: 1.9rem solid #78c578;
    background: #e2ffe2;
  }

  .notices.tip p::after {
    content: "Tip";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 1.9rem solid #f0b37e;
    background: #ffedde;
  }

  .notices.info p::after {
    content: "Info";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.warning p {
    border-top: 1.9rem solid #e06f6c;
    background: #ffdad8;
  }

  .notices.warning p::after {
    content: "Warning";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .nav.nav-tabs {
    border: 0;
    margin-bottom: 1.25rem;

    .nav-item::before {
      background: no-repeat;
    }

    li {
      padding: 0;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &.active a {
        background-color: $color-primary;
      }

      a {
        text-transform: capitalize;
        padding: 0.5rem 2rem;
        border: 1px solid $border-color;
        border-radius: 0px;
        text-decoration: none;
        border-radius: 0.5rem;

        &:hover {
          color: $light;
          border-color: transparent;
          background-color: $color-primary;
        }
      }
    }

    li.active .nav-link,
    li.active .nav-link:hover {
      color: $white;
      border-color: transparent;
    }
  }

  .tab-nav-button {
    background-color: transparent;
    border-color: #e6e7e8;
    border-bottom: 0;
  }

  .tab-content {
    background: darken($white, 2);
    padding: 2rem;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-color: #e6e7e8;

    .tab-pane {
      margin-bottom: 0;

      p:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }

    h2 {
      text-transform: capitalize;
    }

    p strong {
      font-size: 1rem;
      text-transform: capitalize;
      margin-right: 1.5rem;
      font-weight: 400;
      color: $black;
    }
  }

  .tab-nav {
    button::after {
      display: none;
    }
  }

  .accordion {
    margin-bottom: 0;
    border: 0 !important;

    &-header {
      margin-bottom: 0px !important;
      padding: 0 1rem;
    }
  }

  .accordion-body {
    padding: 0.8rem 1rem 0;

    ul {
      margin-bottom: 0;
    }
  }

  .accordion-item {
    margin-bottom: 8px;
    background-color: transparent;
  }

  .accordion-button {
    font-size: 1.125rem;
    font-weight: 600;
    color: lighten($black, 4.509);
    text-transform: capitalize;
    padding: 0 2rem;
    border: 0;
    background-color: transparent;
    position: relative;

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 fill=%22%23000%22%3E%3Cpath fill-rule=%22evenodd%22 d=%22M1.646 4.646a.5.5.0 01.708.0L8 10.293l5.646-5.647a.5.5.0 01.708.708l-6 6a.5.5.0 01-.708.0l-6-6a.5.5.0 010-.708z%22/%3E%3C/svg%3E");
      position: absolute;
      content: "";
      left: 0;
      top: 0.7rem;
      transform: rotate(-180deg);
      width: 1.25rem;
      height: 1.25rem;
      background-repeat: no-repeat;
      transition: transform 0.2s ease-in-out;
    }

    &.collapsed::after {
      transform: rotate(-90deg);
    }

    &:not(.collapsed) {
      box-shadow: none;
      background-color: transparent;
    }

    &:focus {
      box-shadow: none;
      color: lighten($black, 4.509);
    }
  }

  blockquote {
    padding: 1.25rem 2.5rem;
    padding-top: 0.625rem;
    color: lighten($black, 20);
    font-weight: 500;
    font-size: 1.25rem;
    margin: 2.3rem 0;
    border-radius: 0.5rem;
    box-shadow: 0px 0.625rem 2.1rem 0px rgba($black, 0.05);
    position: relative;
    border: 1px solid $border-color;

    &::before {
      font-family: $font-icon;
      font-weight: 900;
      content: "\f10d";
      font-size: 3.5rem;
      display: block;
      line-height: 1.2;
      color: #c3c3c3;
    }

    cite {
      border-top: 1px solid #fbf2e5;
      display: block;
      font-size: 1rem;
      opacity: 0.7;
      margin-top: 1.25rem;
      padding-top: 0.9rem;
      font-weight: 400;
      font-style: unset;
    }
  }

  pre {
    display: block;
    padding: 0.625rem;
    margin: 0.625rem 0;
    white-space: pre-wrap;
    border-radius: 0.5rem;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

// pagination
.pagination {
  .page-link {
    padding: 0;
    margin-left: 0;
    border: 0;
    height: 2.87rem;
    width: 2.87rem;
    line-height: 2.87rem;
    text-align: center;
    font-weight: 600;
    border-radius: 0.375rem !important;
    color: $color-primary;
    margin: 0 2px;

    &.arrow {
      font-size: 1.375rem;
      background-color: transparent;
    }

    &.active,
    &:focus,
    &:hover {
      box-shadow: none;
      color: $white;
      background-color: $color-primary;
    }
  }
}

// form-control
.form-control {
  border: 0;
  padding: 1.25rem;
  border: 2px solid rgba($color-primary, 0.1);
  border-left-color: rgba($color-primary, 0.5);
  height: 3.5rem;
  transition: 0.3s ease;
  background-color: rgba($color-primary, 0.05);

  &:focus {
    box-shadow: none;
    color: lighten($black, 20);
    border-bottom-color: rgba($color-primary, 0.5);
    border-color: rgba($color-primary, 0.5);
  }
}

.form-control[type="file"] {
  padding: 11px 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form label {
  font-weight: 600;
  color: lighten($black, 33.33);
}

.custom-checkbox {
  margin-top: 0.9rem;

  .custom-control-label::before {
    border-radius: 0;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: $color-primary;
    border-color: $color-primary;
    box-shadow: none;
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    box-shadow: none;
    border-color: $color-primary;
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba($color-primary, 0.5);
    border-color: rgba($color-primary, 0.2);
  }
}

/*------------------------------------------------------------------
 # helper classes
-------------------------------------------------------------------*/
.font-primary {
  font-family: $font-primary;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.text-primary {
  color: $color-primary !important;
}

a.text-primary:hover {
  color: darken($color-primary, 10) !important;
}

.border-primary {
  border-color: $color-primary !important;
}

// buyPremium popup
.buyPremium {
  z-index: 9999;
  height: 100vh;
  width: calc(100vw - 40px);
  top: 0;
  left: 20px;
  // display: none;
  &.fade {
    visibility: hidden;
    opacity: 0;
    &.show {
      visibility: visible;
      opacity: 1;
      // display: block;
    }
  }
  @include mobile {
    display: none !important;
  }
  .block {
    max-width: 100%;
    width: 700px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    button.close {
      position: absolute;
      top: -15px;
      right: -15px;
      height: 40px;
      width: 40px;
      background: $color-primary;
      border-radius: 50%;
      color: $white;
      text-shadow: none;
      opacity: 1;
      transition: 0.3s;
      border: none;
      &:hover {
        background: darken($color-primary, 10);
        opacity: 1;
      }
    }
  }
  .overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba($black, 0.4);
    top: 0;
    left: 0;
  }
}
