.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: lighten($black, 13.33);
  font-weight: 600;
  line-height: 1.4;
}
a:focus,
button:focus {
  outline: 0;
}
a {
  color: lighten($black, 53.33);
  transition: all 0.3s;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: lighten($black, 13.33);
  }
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

// List in descending order to prevent extra sort function
$type-levels: 6, 5, 4, 3, 2, 1;

@each $level in $type-levels {
  $font-size: $font-size * $font-scale;

  // Output heading styles
  h#{$level},
  .h#{$level} {
    font-size: $font-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    &:not(h1, .h1, h2, .h2) {
      font-size: calc(#{$font-size} * 0.7);
    }

    // responsive for h1, h2, h3
    &:not(h4, .h4, h5, .h5, h6, .h6) {
      @include desktop {
        font-size: calc(#{$font-size} * 0.95);
        margin-bottom: 0.55em;
      }

      @include tablet {
        font-size: calc(#{$font-size} * 0.8);
      }
    }
  }
}
