{{ define "main" }}
  {{ partial "page-header.html" . }}


  <section class="section-sm" data-aos="fade-in">
    <div class="container-xxl">
      <div class="row justify-content-center">
        {{ $paginator := .Paginate (where site.RegularPages "Section" "in" site.Params.mainSections) }}
        {{ range $paginator.Pages }}
          <div class="col-lg-5">
            {{ partial "components/blog-card.html" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  <div class="section-sm pt-0">
    <div class="container-xxl">
      <div class="row mb-4">
        <div class="col-12">
          {{ partial "components/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
