{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-in">
      <div class="col-lg-8">

        <p class="mb-3 font-weight-600 text-primary">Last Edited : {{.PublishDate.Format "Jan 02, 2006"}}</p>
        <p class="lead text-uppercase text-black-200 mb-5">{{.Description | markdownify}}</p>

        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}